<div class="song-item">
  <figure class="b-left-bottom" style="margin: 0; margin-right: 10px">
    <img
      src="https://target.scene7.com/is/image/Target/GUEST_020092e8-96c1-4407-b7b2-81790bd8ec05?wid=668&qlt=80&fmt=png"
      alt="FRIENDS"
      width="120"
      height="66"
    />
    <!-- <iframe
      src="https://www.youtube.com/embed/mi6uRT7PxTQ"
      title="Death Cab For Cutie: NPR Music Tiny Desk Concert"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
      width="120"
      height="66"
    ></iframe> -->
  </figure>
  <div class="song-name">PLAYING EVENT</div>
  <audio controls class="now-playing">
    <source
      src="https://samplelib.com/lib/preview/mp3/sample-3s.mp3"
      type="audio/mpeg"
    />
    Your browser does not support the audio element.
  </audio>
</div>
