<div class="h-left">
  <span class="home-page" onclick="location.href='./';"> @GenZWave</span>
</div>
<div class="h-center h-nav-container">
  <div class="h-center-item">
    <div class="h-menu-item" onclick="location.href='./producer-profile';">Producer<br />Profile</div>
  </div>
  <div class="h-center-item">
    <div class="h-menu-item" onclick="location.href='./listener-profile';">Listener<br />Profile</div>
  </div>
  <div class="h-center-item">
    <div class="h-menu-item"  onclick="location.href='./dj-profile';">DJ<br />Profile</div>
  </div>
  <!-- <div class="h-center-item">
    <div class="h-menu-item">Music<br />Events</div>
  </div> -->
</div>
<div class="h-right"><%= currentProfile %></div>
