<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <header class="h-container header-font">
      <%- include('../partials/header', {variant: 'compact'}); %>
    </header>

    <main class="b-container">
      <div style="text-align: center; font-size: xxx-large; padding-top: 100px;">
        <div>WELCOME TO GenZWave RADIO STATION!</div>
        <div style="font-size: x-large">
          <b>"Your favorite music, on your favorite radio"</b>
        </div>
      </div>
      <figure style="text-align: center">
        <img
          src="https://i.pinimg.com/originals/f7/a0/98/f7a098da30d92df0842e9240b757a0bf.png"
          width="400"
          height="400"
        />
      </figure>
    </main>

    <footer class="f-container"><%- include('../partials/footer'); %></footer>
  </body>
</html>
