<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <header class="h-container header-font"><%- include('../partials/header', {variant: 'compact'}); %></header>

    <main class="b-container">This is the home page.</main>

    <footer class="f-container"><%- include('../partials/footer'); %></footer>
  </body>
</html>
