<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %> <%-
    include('../partials/dj-profile-scripts'); %>
  </head>

  <body>
    <header class="h-container header-font">
      <%- include('../partials/header'); %>
    </header>

    <main class="b-container">
      <div class="prefBox">
        <div
          style="
            font-weight: 700;
            font-size: larger;
            text-wrap: nowrap;
            margin: auto;
          "
        >
          Hello, please enter your username.
        </div>
        <form
          action="/key"
          method="POST"
          id="keygen"
          name="keygen"
          style="margin: 20px"
        >
          <input
            class="username-input"
            type="text"
            id="username"
            name="username"
            required
          />
          <a style="text-decoration: none; color: white">
            <button class="username-btn" type="submit">Continue</button>
          </a>
        </form>
      </div>
    </main>

    <footer class="f-container"><%- include('../partials/footer'); %></footer>
  </body>
</html>
