<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %> <%-
    include('../partials/producer-profile-scripts'); %>
  </head>

  <body>
    <header class="h-container header-font">
      <%- include('../partials/header'); %>
    </header>

    <main class="b-container">
      <div class="b-container-top">
        <div class="row">
          <div class="left">
            <button>
              <h1 style="font-family: 'Courier New', Courier, monospace">
                TODAY'S HITS
              </h1>
              <img
                src="https://cdn.shopify.com/s/files/1/0416/8083/0620/files/01132022_soc_pinterestboardcoverupdate_KU_1200x1200_1_1024x1024.png?v=1664470975"
                width="300"
                height="300"
              />
            </button>
          </div>

          <div class="right">
            <h2>Today's playlist is the GenZWave Music Hits</h2>
            <b>
              This playlist contains all the popular songs across the stream
              featuring top artists
            </b>
            <br />
            <div
              id="search-song-container"
              class="form-item dropdown"
              style="margin-top: 5; margin-bottom: 0"
            >
              <input
                id="search-song"
                class="form-item shadow-box search-song"
                placeholder="Search and display songs from this playlist"
                type="text"
              />
              <div id="song-dropdown" class="dropdown-content"></div>
            </div>
            <br />
            <!-- This element is a hidden template element to be used to copy, update with the selected song, and append to songs container playlist -->
            <div
              id="hidden-template-element"
              style="display: none"
              class="song-item"
            >
              <figure
                class="b-left-bottom"
                style="margin: 0; margin-right: 10px"
              >
                <img src="" alt="" width="66" height="66" />
              </figure>
              <div class="song-name"></div>
              <audio controls class="now-playing">
                <source src="" type="audio/mpeg" />
                Your browser does not support the audio element.
              </audio>
              <div style="display: none" class="song-toggle">
                <label class="switch">
                  <input name="song-toggle" type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <!-- This element is a hidden template element to be used to copy, update with the selected song, and append to songs container playlist -->

            <div id="songs-container" class="songs-container"></div>
          </div>
        </div>
      </div>

      <article class="b-container-bottom">
        <div class="upcoming-events-container">
          <div class="upcoming-events-header header-font">Upcoming Events</div>
          <ul class="upcoming-events-list">
            <li
              class="upcoming-events-item"
              style="min-width: 212px; min-height: 101px"
            >
              <iframe
                src="https://www.youtube.com/embed/XfzpYcwiUrA"
                title="Adele: NPR Music Tiny Desk Concert"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </li>
            <li class="upcoming-events-item">
              <iframe
                src="https://www.youtube.com/embed/uwUt1fVLb3E"
                title="Alicia Keys: NPR Music Tiny Desk Concert"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </li>
            <li class="upcoming-events-item">
              <iframe
                src="https://www.youtube.com/embed/bdneye4pzMw"
                title="Sting And Shaggy: NPR Music Tiny Desk Concert"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </li>
            <li class="upcoming-events-item">
              <iframe
                src="https://www.youtube.com/embed/j82L3pLjb_0"
                title="Coldplay: NPR Music Tiny Desk Concert"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </li>
            <li class="upcoming-events-item">
              <iframe
                src="https://www.youtube.com/embed/_t-nRXwAL1k"
                title="Paramore: NPR Music Tiny Desk Concert"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </li>
            <li class="upcoming-events-item">
              <iframe
                src="https://www.youtube.com/embed/XWIvfE01J0k"
                title="Edward Sharpe And The Magnetic Zeroes: NPR Music Tiny Desk Concert"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </li>
            <li class="upcoming-events-item">
              <iframe
                src="https://www.youtube.com/embed/uwUt1fVLb3E"
                title="Alicia Keys: NPR Music Tiny Desk Concert"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </li>
            <li class="upcoming-events-item">
              <iframe
                src="https://www.youtube.com/embed/uwUt1fVLb3E"
                title="Alicia Keys: NPR Music Tiny Desk Concert"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </li>
          </ul>
        </div>
      </article>
    </main>

    <footer class="f-container"><%- include('../partials/footer'); %></footer>
  </body>
</html>
