<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <header class="h-container header-font">
      <%- include('../partials/header'); %>
    </header>

    <main class="b-container">
      <div class="b-container-top">
        <div class="row">
          <div class="left">
            <button>
              <h1 style="font-family: 'Courier New', Courier, monospace">
                Top 40 TOP HITS
              </h1>
              <img
                src="https://cdn.shopify.com/s/files/1/0416/8083/0620/files/01132022_soc_pinterestboardcoverupdate_KU_1200x1200_1_1024x1024.png?v=1664470975"
                width="300"
                height="300"
              />
            </button>
          </div>

          <div class="right">
            <h2>Today's playlist is the Top 40 Songs</h2>
            <b>
              This playlist contains the 40 most played song across the stream
              featuring top artists
            </b>
            <br />
            <ul class="list">
              <li class="list">1.Vampire by Olivia Rodrigo</li>
              <li class="list">2. Paint the town red by Doja Cat</li>
              <li class="list">3. Snooze by SZA</li>
              <li class="list">4. Cirlces by Post Malon</li>
              <li class="list">5. Kill Bill by SZA</li>
            </ul>
          </div>
        </div>
      </div>

      <article class="b-container-bottom">
        <div class="upcoming-events-container">
          <div class="upcoming-events-header header-font">Upcoming Events</div>
          <ul class="upcoming-events-list">
            <li
              class="upcoming-events-item"
              style="min-width: 212px; min-height: 101px"
            >
              <iframe
                src="https://www.youtube.com/embed/XfzpYcwiUrA"
                title="Adele: NPR Music Tiny Desk Concert"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </li>
            <li class="upcoming-events-item">
              <iframe
                src="https://www.youtube.com/embed/uwUt1fVLb3E"
                title="Alicia Keys: NPR Music Tiny Desk Concert"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </li>
            <li class="upcoming-events-item">
              <iframe
                src="https://www.youtube.com/embed/bdneye4pzMw"
                title="Sting And Shaggy: NPR Music Tiny Desk Concert"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </li>
            <li class="upcoming-events-item">
              <iframe
                src="https://www.youtube.com/embed/j82L3pLjb_0"
                title="Coldplay: NPR Music Tiny Desk Concert"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </li>
            <li class="upcoming-events-item">
              <iframe
                src="https://www.youtube.com/embed/_t-nRXwAL1k"
                title="Paramore: NPR Music Tiny Desk Concert"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </li>
            <li class="upcoming-events-item">
              <iframe
                src="https://www.youtube.com/embed/XWIvfE01J0k"
                title="Edward Sharpe And The Magnetic Zeroes: NPR Music Tiny Desk Concert"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </li>
            <li class="upcoming-events-item">
              <iframe
                src="https://www.youtube.com/embed/uwUt1fVLb3E"
                title="Alicia Keys: NPR Music Tiny Desk Concert"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </li>
            <li class="upcoming-events-item">
              <iframe
                src="https://www.youtube.com/embed/uwUt1fVLb3E"
                title="Alicia Keys: NPR Music Tiny Desk Concert"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </li>
          </ul>
        </div>
      </article>
    </main>

    <footer class="f-container"><%- include('../partials/footer'); %></footer>
  </body>
</html>
